* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  
  
}


p {
  
  font-size: 1.3em;
  
}

h1 {
  text-align: center;
}

button {
  color: black;
}

.quiz-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.quiz-info-title {
  color: black;
  text-align: center;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  
  
}

.container-1 {
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.top-bar p {
    float: right;
    color: black;
}

.container-2 {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  
}

h1, h2 {
  color: black;
  text-align: center;
}

.questions {
  display: none;
}